Objective : To extract occupation & gender information and predict income range

Highlights:
* cateogrical data is encoded into numeric as input to ML algorithmn
    * Nominal : pd.get_dummies / sklearn.preprocessing.OneHotEncoder
    * Ordinal : sklearn.preprocessing.LabelEncoder
    * ref: https://www.analyticsvidhya.com/blog/2020/03/one-hot-encoding-vs-label-encoding-using-scikit-learn/

# Import Module

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

# Import Data & Pre-Process

In [2]:
!wget https://raw.githubusercontent.com/AlvinChiew/MachineLearning/main/raw_data/adults.csv

--2021-01-06 16:53:35--  https://raw.githubusercontent.com/AlvinChiew/MachineLearning/main/raw_data/adults.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3974478 (3.8M) [text/plain]
Saving to: ‘adults.csv.1’

adults.csv.1        100%[===================>]   3.79M  --.-KB/s    in 0.08s

2021-01-06 16:53:35 (48.2 MB/s) - ‘adults.csv.1’ saved [3974478/3974478]

In [3]:
df = pd.read_csv("adults.csv", index_col=False, skipinitialspace=True)
df.head()

   age         workclass  fnlwgt  ... hours_per_week  native_country income
0   39         State-gov   77516  ...             40   United-States  <=50K
1   50  Self-emp-not-inc   83311  ...             13   United-States  <=50K
2   38           Private  215646  ...             40   United-States  <=50K
3   53           Private  234721  ...             40   United-States  <=50K
4   28           Private  338409  ...             40            Cuba  <=50K

[5 rows x 15 columns]

In [4]:
data = df[['occupation','gender', 'income']]
data.head()

          occupation  gender income
0       Adm-clerical    Male  <=50K
1    Exec-managerial    Male  <=50K
2  Handlers-cleaners    Male  <=50K
3  Handlers-cleaners    Male  <=50K
4     Prof-specialty  Female  <=50K

In [5]:
data = pd.get_dummies(data)     # One-Hot-Encoding
data.head()

   occupation_?  occupation_Adm-clerical  ...  income_<=50K  income_>50K
0             0                        1  ...             1            0
1             0                        0  ...             1            0
2             0                        0  ...             1            0
3             0                        0  ...             1            0
4             0                        0  ...             1            0

[5 rows x 19 columns]

In [6]:
X = data.iloc[:,0:-2].values
y = data.iloc[:,-1]
print(f"X shape : {X.shape}")       
print(f"y shape : {y.shape}")

# 17 features, 32561 records

X shape : (32561, 17)
y shape : (32561,)

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

# Train Model & result

In [8]:
model = LogisticRegression().fit(X_train, y_train)

In [9]:
print(f'Train score : {model.score(X_train, y_train)}')
print(f'Test score : {model.score(X_test, y_test)}')
# Result doesn't look overfitted. 
# Need more dimension to improve the accuracy.

Train score : 0.7857493857493858
Test score : 0.7768087458543177

# Extra: Incorrect Encoding

In [10]:
data_dummy  = pd.DataFrame({'checkbox':[0, 1, 0, 2],
                    'color':['white','white','blue','black']})
data_dummy_wrong = pd.get_dummies(data_dummy)
data_dummy_wrong

# get_dummies() treated checkbox as integer instead of numeric category.

   checkbox  color_black  color_blue  color_white
0         0            0           0            1
1         1            0           0            1
2         0            0           1            0
3         2            1           0            0

In [11]:
# correct the behavior by converting 'checkbox' datatype to str
data_dummy_processed = data_dummy.copy()
data_dummy_processed['checkbox'] = data_dummy_processed['checkbox'].astype(str) 
data_dummy_correct = pd.get_dummies(data_dummy_processed)
data_dummy_correct

   checkbox_0  checkbox_1  checkbox_2  color_black  color_blue  color_white
0           1           0           0            0           0            1
1           0           1           0            0           0            1
2           1           0           0            0           1            0
3           0           0           1            1           0            0